.desktop-1
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.rectangle1
{
background-color:#ffffff;
height:106px;
width:1440px;
position:absolute;
top:0px;
left:0px;
}
.escapegame
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:45px;
font-family:Rationale;
line-height:normal;
border-style:hidden;
outline:none;
left:590px;
top:29px;
position:absolute;
width:260px;
}
.rectangle2
{
background-color:#eaeaea;
height:783px;
width:1440px;
top:106px;
left:0px;
position:absolute;
}
.rectangle3
{
background-color:#ababab;
height:135px;
width:1440px;
top:889px;
left:0px;
position:absolute;
}
.rectangle4
{
background-color:#e1e0e0;
height:56px;
width:1440px;
top:105px;
left:0px;
position:absolute;
}
.aboutus
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Inter;
left:1305px;
top:116px;
width:119px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.kontakt
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Inter;
left:1103px;
top:116px;
width:102px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.home
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Inter;
left:53px;
top:116px;
width:79px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.raumübersicht
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Inter;
left:232px;
top:116px;
width:199px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle6
{
background-color:#d9d9d9;
height:190px;
width:295px;
top:381px;
left:572px;
position:absolute;
}
.rectangle8
{
background-color:#d9d9d9;
height:190px;
width:295px;
top:381px;
left:158px;
position:absolute;
}
.rectangle7
{
background-color:#d9d9d9;
height:190px;
width:295px;
top:381px;
left:986px;
position:absolute;
}
.impressumetc.
{
color:#000000;
text-align:right;
vertical-align:text-bottom;
font-size:56px;
font-family:Rationale;
left:1117px;
top:942px;
width:307px;
height:65px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle9
{
background-color:#d9d9d9;
height:94px;
width:231px;
top:0px;
left:14px;
position:absolute;
}
.logo
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:56px;
font-family:Rationale;
left:79px;
top:18px;
width:100px;
height:65px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.rectangle10
{
background-color:#d9d9d9;
height:117px;
width:1440px;
top:207px;
left:0px;
position:absolute;
}
.willkommenbeiescaperoomadventures
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Rationale;
left:420px;
top:242px;
width:599px;
height:46px;
position:left;
line-height:auto;
border-style:hidden;
outline:none;
}

img {display: block;
    width:295px;
    margin: auto;}